:root {
  --text-color-300: #3f509e;
}

.ShopTitleH h5 {
  font-size: 22px;
  line-height: 26px;
  color: #151875;
}
.ShopTitleH p {
  color: #8a8fb9;
}
.ShortComponent input,
.ShortComponent select {
  outline: none;
  border: 1px solid #e7e6ef;
  border-color: #e7e6ef;
  border-radius: 0px !important;
  padding: 4px;
  background-color: transparent;
}
.ShortComponent select {
  color: #8a8fb9;
}
.pages label,
.viewGrid label,
.Sort label {
  color: var(--text-color-300);
}
.pages input {
  width: 45%;
  text-align: center;
}
.viewGrid input {
  width: 55%;
}

@media screen and (max-width: 992px) {
  .Sort select,
  .pages input {
    width: 98%;
    margin-bottom: 0.6rem;
  }
  .viewGrid input {
    width: 98% !important;
  }
}

@media screen and (max-width: 768px) {
  .Sort select,
  .pages input {
    width: 98%;
    margin-bottom: 0.6rem;
  }
  .viewGrid input {
    width: 98% !important;
  }
}

@media screen and (max-width: 450px) {
  .Sort select,
  .pages input {
    width: 98%;
    margin-bottom: 0.6rem;
  }
  .viewGrid input {
    width: 98% !important;
  }
}
